#body-div {
    width: 1250px;
    height: 100%;
    margin: auto;
    font-family: 'Cormorant Upright', serif;
    
}
#menu-header-div {
    width: 1250px;
    margin: auto;
    font-family: 'Cormorant Upright', serif;
}
#header-box {
    margin-top: 50px;
    display: flex;
    position: relative;
}
#header-div {
    width: 350px;
    height: 250px;
    margin: auto;
    text-align: center;
}
#right-menu-div {
   background-color: white;
   width: 300px;
   height: 50px;
   position: absolute;
    right: 10px;
    top: 75px;
}
#menu-line-div {
    width: 500px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}
#main-pic-div {
    width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
#logo-img {
    width: 150px;
}
#lux-house-text {
    font-weight: 900;
    font-size: 50px;
}
#craft-coffee-text {
    font-size: 35px;
    font-weight: 500;
}
#ul-right-menu-div {
    list-style-type: none;
    display: flex;
    margin-left: 50px;
    font-size: 20px;
}
.list {
    padding: 0 5px 0 5px;
    
}
#ul-menu-line-div {
    list-style-type: none;
    display: flex;
    font-size: 30px;
}
.list-2 {
    padding: 5px 10px 0 10px;
}
.list-buttons {
    background-color: white;
    color: black;
    text-decoration: none;
    border: none;
    font-weight: 900;
}
.list-buttons:hover {
    color: rgb(0, 60, 255);
}
/* till here header of page which will be same for all pages */
#main-pic {
    width: 1200px;
    height: 700px;
}
#pics-box-div {
    margin-top: 30px;
    margin-bottom: 20px;
}
.pair-pics-div {
    display: flex;
}
.main-page-pics {
    max-height: 400px;
    min-height: 400px;
    width: 583px;
    object-fit: cover;
    margin: 20px;
}



/* down here footer for all pages to copy paste */
/* body height need to be set to 100% */
#footer-div {
    text-align: center;
    margin-top: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(240, 236, 229);
}
#footer-box {
    display: inline-flex;

}
#logo-footer-img {
    margin-top: 40px;
    margin-right: 22vw;
    width: 100px;
}
#footer-center-div {
    padding-top: 50px;
    margin: auto;
}
#footer-center-p {
    font-size: 22px;
}
#footer-right-div {
    margin-left: 20vw;
    margin-top: 60px;
}
.fa {
    padding: 10px;
    font-size: 30px;
    height: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 45%;
  }
  
  .fa:hover {
    color: rgb(251, 252, 253);
    background: #125688;
  }
  
  .fa-facebook {
    background: #5273bb;
    color: white;
    font-size: 20px;
  }
  .fa-instagram {
    
    background: #5273bb;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }


/* contact page  */

#top1 {
    text-align: center;
}
#top0 {
    margin:auto;
    margin-top: 100px;
}
#top2 {
    margin: auto;
    margin-top: 0;
    width: 500px;
    height: 500px;
    margin-bottom: 500px;
}
/* form */
#contact-form {
    display: grid;

}

label {
    float: left;
    padding-right: 24px;
}

#title {
    font-size: 50px;
}
#text {
    font-size: 25px;
    height: 130px;
    width: 700px;
    margin: auto;
}
#contact-form {
    font-size: 20px;
}
.contact-label {
    font-size: 25px;
}
textarea {
    height: 200px;
    border: solid black 1px;
    background-color: rgb(243, 241, 236);
}
.text-input {
    background-color: rgb(243, 241, 236);
}
#contact-submit {
    
    
}
