.menu-category {
    margin-top: 20px;
    font-size: 55px;
}

#card {
    display: inline-block;
    width: 585px;
    height: 170px;
    position: relative;
    border: 1px solid rgb(162, 157, 157);
}
#box-menu-cards {
    margin-top: 50px;
    margin-left: 15px;
}
#card-div{
    display: inline-block;
}
.add-to-cart-btn {
    position: absolute;
    right: 155px;
    top: 115px;
}

#menu-img-div {
    padding-top: 10px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 10px;
}
#menu-img {
    max-height: 300px;
    width: 80%;
    object-fit: cover;
}
#menu-img-div {
    text-align: center;
}
#menu-cart-img {
    position: absolute;
    right: 10px;
    height: 120px;
    object-fit: cover;
    width: 130px;
    top: 40px;
    border-radius: 5%;
}
.price-p1 {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 20px;
}
.description-p1 {
    position: absolute;
    left: 15px;
    top: 40px;
    width: 415px;
    font-size: 23px;
}
#card-header {
    padding: 2px 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(162, 162, 157);
}
.tea-coffee {
    font-size: 35px;
    margin: 10px;
}
#sides {
    font-size: 22px;
}
#sides-span {
    font-weight: 600;
    font-size: 23px;
    color: red;
}

#search-bar {
    text-align: center;
    margin-top: 15px;
}
#search {
    width: 275px;
}
